body {
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.card {
  background: #1e293b;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
}
